*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix:after{
    content:"";
    clear:both;
    display:table;
}

body {
    font-family: 'Open Sans', sans-serif;
    height:100%; /*Anders werkt Google maps niet*/
    overflow:auto;
}

html { 
    height: 100%; /*Anders werkt Google maps niet*/
}

#container{
	position: absolute;
	width: 100%;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	
	
}

#container a{
	text-decoration: none;
	color: #72405E;
}


/*-------------------------------------------*/
/*hoofdscherm -- registreren of inloggen*/

.hoofdscherm{
background: url(../images/achtergrondMechelen.png);
	background-size: cover;
}

#logo{
	width:60%;	
    margin:120px 20% 0px 20%;
}

.knop{
	background-color: #3BBBD9;
	width: 60%;
	border-radius: 50px;
	color: white;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding:15px;
	
}

.hoofdscherm a, .hoofdscherm p{
	text-align: center;
	color: #72405E;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 20px auto;
    
}
.hoofdscherm a{
    font-weight:bold;
}

.login .button{
	box-shadow:1px 1px 2px #9B9B9B;
}

.registratie .button{
	box-shadow:1px 1px 2px #9B9B9B;
}


/*-------------------------------------------*/
/*info scherm*/
.info{
    width:100%;
}
#tekst{
	margin:60px 10% 70px 10%;
   	width: 80%;
    font-size:14px;
}
.info #logo {
    margin:100px 20% 0px 20%;
}
.info p{
	color: gray;
	text-align: center;
	line-height: 22px;
    margin-bottom:16px;
}
#informatie{
	display: flex;
	width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 20px;
}
.stap_info{
	border-radius: 20px;
	background-color:#72405E;
	opacity: 0.8;
	width: 80px;
	height: 10px;
	margin:10px;
}


/*-------------------------------------------*/
/*profiel scherm*/
.profiel {
	 width: 100%;
	 
}
.profiel h1{
	text-align:center;
    color: #29c2de;
    font-family:'Open Sans', semibold;
    margin-top: 30px;
    margin-bottom:100px;
    font-size:26px;
}

.profiel p{
	margin-left: 15%;
	margin-bottom: -15px;
	color: #72405E;
}
.profiel .formfield {
    margin-bottom:10px;
}
.profiel .data_form{
	margin: auto;
}

.profiel .button{
	width:60%;
	text-align: center;
	font-size: 14px;
    margin-left:20%;
}

.btn_loguit {
    /*Midden*/
    margin:0px 30%;
    /*Rechts positioneren*/
    /*position: absolute;
    right:20%;
    bottom:100px;*/
    padding:12px 35px;
    text-decoration:none;
    width:110px;
    color:#72405E;
    background-image:url(../images/logout_icon.png);
    background-repeat:no-repeat;
    background-size:30px;
    background-position:0 center;
    display:block;
    height:40px;
    text-align:right;
}


.profiel input[type=password] {
	margin-top:-10px;
}

.profiel input[type=submit] {
	margin-left:20%;
    
}

.profiel .button{
	box-shadow:1px 1px 2px #9B9B9B;
}


/*-------------------------------------------*/
/*registratie scherm*/
h1 {
    text-align:center;
    color: #29c2de;
    font-family:'Open Sans', semibold;
    margin-top: 15px;
    margin-bottom:30px;
    font-size:22px;
}
.data_form {
    width:100%;
}
.data_form input[type=text], input[type=password] {
    display:block;
    width:70%;
    margin:30px 15%;
    color:#29c2de;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    border:none;
    padding-bottom:3px;
	border-bottom: 1px solid #ade8f2;
	
}
.error {
    text-align:center;
    font-size:12px;
    line-height:1.5em;
    width:70%;
    margin:30px 15%;
    padding:10px;
    display:block;
    background-color:#72405E;
    color:#fff;
}


/*-------------------------------------------*/
/*login scherm*/
.login {
    width:100%;
}
.login #logo, .registratie #logo {
    width:40%;
    margin:60px 30% 60px 30%;
}
.field-group{ /*indien 'wachtwoord onthouden' wel*/
    font-size: 14px;
	color: gray;
    display:block;
    width:80%;
	margin: 20px 10%;
}
.login .button, .registratie .button {
    width:50%;
    margin-left:25%;
    margin-right:25%;
	
}
.login .button {
    margin-bottom:30px;
}

.login a{
	color: #72405E;
    text-decoration: none;
    font-weight:bold;
}
.login p{
    text-align: left;
    margin-top:10px;
    margin-left:15%;
	font-size:14px;
	color: #72405E;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-bottom: 20px;
    
}

/*-------------------------------------------*/
/* Google maps api */
#googleMap {
    width: 100%;
    height:100%;
    position:absolute;
	border:none;
}

/*-------------------------------------------*/
/* Navigatie-menu (bottom) */
.navbar {
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    z-index:10;
    bottom: 0;
    width: 100%;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left:18%;
    box-shadow:0px -6px 40px -18px #9B9B9B;
}
.navbar a {
    display:block;
    text-align: center;
    width:40%;
    text-decoration: none;
    text-indent:-9999px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-bottom:5px;
}
.navbar #home_btn {
    background-image: url(../images/pinME_homebtn.png);
}
.navbar #melding_btn {
    background-image: url(../images/pinme_meldingbtn.png);
}
.navbar #dossier_btn {
    background-image: url(../images/pinme_dossierbtn.png);
}
.main {
    margin-bottom:50px; /*zodat content onder navbar ook zichtbaar is*/
}

nav{
	position: fixed;
	width: 180px;
    height:60px;
	right: 15px;
    background-color: #29c2de;
	z-index: ;
	bottom: 120px;
    border: none;
    background-color:#29c2de;
    border-radius:50px;
    box-shadow:1px 1px 12px #9B9B9B;
	padding-top: 10px;
	z-index: 1;

}


.verborgen{
	bottom: -50px;
	
}
nav li a{
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	text-align:left;
	line-height: 20px;
	 font-family: Open sans semibold;
	

}
nav li{
	font-size: 35px;
	text-align: left;
	padding-left: 25px;
	
}
/*-------------------------------------------*/
/* Home.php */



#zoeken{
	position: absolute;
	margin-left: 80%;
	margin-top: 25%;
}

.verborgenrubrieken{ 
	top: -800px;	
}

.zoek{
	position: absolute;
	background: url(../images/vegrootglas.png);
	background-size: cover;
	width: 50px;
	height: 50px;
	margin-left: 80%;
	top: 5%;
	z-index: 2;
    border-radius:50%;
    box-shadow:1px 1px 12px #707070;
}

#afval, #gebouwen, #groen, #overlast, #verkeer, #straten {
	width: 50px;
	height: 50px;
	background-size: cover;
	margin-top: 7px;
}
#afval {
    background-image: url(../images/icon_afval.png);
}
#gebouwen{
	background-image: url(../images/icon_gebouwen.png);
}
#groen{
	background-image: url(../images/icon_groen.png);
}
#overlast{
	background-image: url(../images/icon_overlast.png);
}
#verkeer{
	background-image: url(../images/icon_verkeer.png);
}
#straten{
	background-image: url(../images/icon_straten.png);
}


.popup_info {
    position:absolute;
    width:100%;
    background-color:#fff;
    height:280px;
    bottom:50px;
}
.btn_down{
    width:7%;
    margin:10px 46.5%;
    transform:rotate(-90deg);
}
.logo_small {
    z-index:100;
    width:30%;
    margin:10px 35% 30px 35%;
}
.home_info {
    text-align:center;
    margin-bottom:20px;
    font-size:14px;
    color:#72405E;
}




/*-------------------------------------------*/
/* Melding toevoegen - locatie bepalen */

.above_map {
    position:relative;
    font-family: 'Open sans';
	
}
.location_field{
    font-size:14px;
    padding:10px;
    margin-left:5%;
    margin-right:5%;
    width: 90%;
    background-color:#fff;
    border-radius:25px;
    border:none;
    height:50px;
    margin-top:10px;
    text-align:center;
	z-index: 100px;
    box-shadow:1px 1px 12px #707070;
}
input[type=text]{
    color:#29c2de;
}

.button_map {
    text-align:center;
    padding:12px 0;
    width:170px;
    position:absolute;
    right:20px;
    bottom:70px;
    border: none;
    background-color:#29c2de;
    color: #fff;
    font-family: Open sans semibold;
    font-size:14px;
    border-radius:50px;
    box-shadow:1px 1px 12px #9B9B9B;
}


/*-------------------------------------------*/
/* Melding toevoegen - image upload */

h2 {
    font-size: 18px;
    color: #29c2de;
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    margin-top: 30px;
    margin-bottom:15px;
}
.back_btn img {
    display:block;
    position:absolute;
    width:20px;
    top:30px;
    left:25px;
}
input[type=file]{ 
    opacity:0;
}
.button_upload {
    padding:14px 0;
    width:75%;
    display:block;
    margin:12px auto;
    border: none;
    background-color:#29c2de;
    color: #fff;
    font-size:14px;
    border-radius:50px;
    text-align:center;
    display:block;
}
.button_upload:active {
    border: #29c2de 2px solid;
    background-color: #fff;
    color: #29c2de;
}
.button {
    text-align:center;
    padding:12px 0;
    width:75%;
    margin:20px 12.5%;
    border: none;
    background-color:#29c2de;
    color: #fff;
    font-family: Open sans;
    font-size:14px;
    border-radius:50px;
    display:block;
}
#first_input{
    margin-top:130px;
}
.line_left, .line_right {
    border:1px solid #29c2de;
    width:20%;
    position:absolute;
    top:258px;
}
.line_left {
    left:22%;
}
.line_right {
    right:22%;
}
.center {
    text-align:center;
    font-size:14px;
    color:#29c2de;
    font-family: Open sans semibold;
    display:block;
}
#of {
    margin-top:-12px;
    margin-bottom:10px;
}
.visible {
    display:block;
}

.hidden {
    display:none;
}
.preview {
    width:80%;
    margin:20px 10% 5px 10%;
}

/*-------------------------------------------*/
/* Melding toevoegen - Rubriek kiezen */

h3 {
    text-align:center;
    color: #70405e;
    font-size:14px;
    margin-top:20px;
    margin-bottom: 30px;
}
input[type=image]{ 
    width:80px;
}
.icon_label {
    font-size:12px;
    text-align:center;
    display:block;
    margin-top:2px;
    line-height:1.5em;
    width:80px;
}
.grid_container {
    width:100%;
    display:grid;
    grid-gap: 30px 15%;
    grid-template-columns: auto auto;
    justify-content: center;
}
.grid_item {
    justify-self: center;
}

/*-------------------------------------------*/
/* Melding toevoegen - Subrubriek kiezen */

.subrub {
    width:100%;
    margin-bottom:60px;
}
.subrub img {
    width:100px;
    display:block;
    margin:20px auto;
}
.btn_subrub {
    border:1px solid #29c2de; 
    background-color:#fff;
    color:#29c2de; 
    font-size:16px;
    font-family: Open sans light;
    width:80%;
    height:50px;
    border-radius:25px;
    margin-bottom: 20px;
    margin:0 10% 20px 10%;
}

/*-------------------------------------------*/
/* Melding toevoegen - Beschrijving toevoegen */

#uploadForm {
    width:100%;
}

.description {
    width:80%;
    margin:40px 10% 20px 10%;
    padding:12px 12px;
    border: #29c2de 1px solid;
    border-radius:15px;
}

textarea{
    width: 100%;
    font-family: Open sans light;
    font-size:12px;
    border: none;
}
::placeholder {
    color: #29c2de;
    opacity: 1; /* Firefox */
}

/*-------------------------------------------*/
/* Melding toegevoegd - popup */
.content_center {
    
}
.melding_succes {
    width:100%;
    height:100%;
}
.melding_succes img {
    width:200px;
    display:block;
    margin:45% auto 0 auto;
}
.melding_succes h3 {
    font-size:20px;
    margin-top:-30px;
}

/*-------------------------------------------*/
/* Persoonlijk dossier */

.dossier_scherm h1{
	text-align: center;
	font-size: 30px;
	color: #70405e;
	margin-top: 30px;
	margin-bottom: 30px;
}
.dossier_scherm{
	width: 100%;
}
.statusfilters{
	display: flex;
	width: 100%;
    justify-content: center;
}
.status a {
    text-decoration:none;
    color: #29c2de;
}
.statusfilters .status{
	font-size: 13px;
	border: 2px solid #29c2de;
	text-align: center;
	background-color: #fff;
	border-radius: 20px;
	padding:20px 0;
    margin:10px 1%;
	width: 30%;
}
.dossiers{
    width:100%;
    margin-bottom:80px;
}
.dossier{
    width: 90%;
    height:130px;
	margin:20px 5%;
    padding-left:10px;
    padding-top:15px;
	border-radius: 5em;
	background-color:#fff;
    box-shadow:1px 1px 12px #D6D6D6;
}
.dossier_info{
    font-size:12px;
    color:#707070;
    margin-bottom:10px;
}
.dossier_info img, .dossier_info div{
    display:inline-block;
    vertical-align: middle;
}
.dossier_info img{
    width:18px;
    height:18px;
    margin-right:5px;
}
.dossier .dossier_rubicon {
    width:100px;
    height:100px;
    float:left;
    margin-right:10px; 
}

#avatar{
	background-image: url(../images/profieltjepng.png);
	background-size: cover;
	width: 120px;
	height: 170px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.profiel h1{
	text-align: center;
	margin-bottom: 50px;
	color: #70405e;
	font-size: 15px;
}



















